<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- redirect old urls -->
				<rule name="ontario used" stopProcessing="true">
					<match url="^ontario-used/" ignoreCase="true" />
					<action type="Redirect" url="https://usedrental.battlefieldequipment.ca/en/" redirectType="Permanent" />
				</rule>
				<rule name="manitoba used" stopProcessing="true">
					<match url="^manitoba-used/" ignoreCase="true" />
					<action type="Redirect" url="https://usedrental.battlefieldequipment.ca/en/" redirectType="Permanent" />
				</rule>
				<rule name="qm used en" stopProcessing="true">
					<match url="^qm-used-en/" ignoreCase="true" />
					<action type="Redirect" url="https://usedrental.battlefieldequipment.ca/en/" redirectType="Permanent" />
				</rule>
				<rule name="nf used" stopProcessing="true">
					<match url="^newfoundland-used/" ignoreCase="true" />
					<action type="Redirect" url="https://usedrental.battlefieldequipment.ca/en/" redirectType="Permanent" />
				</rule>
				<rule name="skid steers" stopProcessing="true">
					<match url="skidsteers.asp" />
					<action type="Redirect" url="/en/skid-steer-loaders-asv-chargeurs-compacts-rigides" appendQueryString="false" />
				</rule>
				<rule name="excavators" stopProcessing="true">
					<match url="excavators.asp" />
					<action type="Redirect" url="/en/excavators-pelles-hydrauliques" appendQueryString="false" />
				</rule>
				<rule name="compact track loaders" stopProcessing="true">
					<match url="compacttrackloaders.asp" />
					<action type="Redirect" url="/en/compact-track-loader-compact-track-loader" appendQueryString="false" />
				</rule>
				<rule name="wheel loaders" stopProcessing="true">
					<match url="wheelloaders.asp" />
					<action type="Redirect" url="/en/wheel-loaders-integrated-toolcarriers-chargeurs-sur-pneus-chargeurs-industriels" appendQueryString="false" />
				</rule>
				<rule name="backhoes" stopProcessing="true">
					<match url="backhoes.asp" />
					<action type="Redirect" url="/en/backhoe-loaders-chargeuses-pelleteuses" appendQueryString="false" />
				</rule>
				<rule name="compaction" stopProcessing="true">
					<match url="compaction.asp" />
					<action type="Redirect" url="/en/compactors-compacteurs" appendQueryString="false" />
				</rule>
				<rule name="telehandlers" stopProcessing="true">
					<match url="telehandlers.asp" />
					<action type="Redirect" url="/en/telehandlers-chargeurs-a-bras-telescopique" appendQueryString="false" />
				</rule>
				<rule name="attachments" stopProcessing="true">
					<match url="attachments.asp" />
					<action type="Redirect" url="/en/work-tools-outils-de-travail" appendQueryString="false" />
				</rule>
				<!-- react route fix -->
				<rule name="React Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/200.html" />
				</rule>
			</rules>
		</rewrite>
		   <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
	<system.web>
		<!-- <customErrors mode="Off" />  -->
		<httpRuntime requestValidationMode="2.0" />
	</system.web>
</configuration>
