// Variables

// General
$white: #fff;

// BFE
$primary-red: #af0e0e;
$yellow: #ffc821;
$green: green;
$grey: #363636;

// JOBSITE
$js-green: #c0d93e;
$js-hover-green: #d7f345;
$js-dark-green: #83971b;
$js-grey: #f1f1f1;

// TCAT
